<launch>
  <arg name="with_defs_file" default="false"/>
  <arg name="defs_file" default=""/>
  <arg name="machine" default="localhost" />
  <arg name="user" default="" />
  
  <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

  <node pkg="fremenserver" type="fremenserver" name="fremenserver" respawn="true"/>
  
  <!--<node pkg="frongo" type="fremeniser.py" name="fremeniser1" respawn="true" unless="$(arg with_defs_file)"/>-->
  <node pkg="frongo" type="fremeniser.py" name="fremeniser" respawn="true" args="-yaml_defs $(arg defs_file)" if="$(arg with_defs_file)"/>

</launch>
